passport, first_name, last_name, patronymic, address, id_number, photo {
    display: block;
    margin: 10px;
    font-family: Verdana, Arial, sans-serif;
}

passport {
    background-color: #f0f0f0;
    padding: 20px;
    width: 300px;
    border: 1px solid #000;
}
