body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #eef;
    margin: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    padding: 8px;
    border: 1px solid #999;
}

th {
    background-color: #ccc;
    color: #333;
}
